@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .w-inherit {
        width: inherit;
    }
}

.btn {
    @apply rounded-none;
}

.badge-ghost {
    background-color: #d4d4d4;
    color: #262626;
    @apply rounded-none
}